html {
    border-radius: 0;
}

body {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border: 0px;
    margin: auto;
    color: #363636;
    text-rendering: optimizeLegibility;
    max-width: 1480px;

}

a:link, a:hover, a:active, a:visited {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

    a:hover {
        color: #0066FF;
    }

    a:active {
        color: #193EAC;
    }

.list {
    padding-left: 15px;
}

ul {
    list-style-type: square;
    padding-left: 10px;
}

.bold {
    font-weight: bold;
}
h1, h2, h3 { /*Override of bootstrap*/
    margin-top: 0px;
}


h1 {
     font-family: RobotoCondensed-Regular, 'Century Gothic', 'Core Sans N 25', 'Franklin Gothic', 'Segoe UI',Frutiger,Tahoma,Helvetica,Sans-Serif;
    color: #22356b;
    font-size: 2em;
    margin-bottom: 15px;
}

h2, h3 {
    font-family: RobotoCondensed-Regular, 'Century Gothic', 'Core Sans N 25', 'Franklin Gothic', 'Segoe UI',Frutiger,Tahoma,Helvetica,Sans-Serif;
        font-size: 1.4em;
       color: darkred;
    
}
h2{
        padding-top: 8px;
    padding-bottom: 6px;
}

h3 {
    color: #22356b;
    font-size: 1.2em;
  padding-top: 15px;
    padding-bottom: 10px;
}

h4 {
    font-family: RobotoCondensed-Regular, 'Century Gothic', 'Core Sans N 25', 'Franklin Gothic', 'Segoe UI',Frutiger,Tahoma,Helvetica,Sans-Serif;
    color: #22356b;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    font-size: 1.4em;
}

h5 {
    font-family: RobotoCondensed-Regular, 'Core Sans N 25', 'Franklin Gothic', 'Segoe UI',Frutiger,Tahoma,Helvetica,Sans-Serif;
    color: #22356b;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}
 figure{
    padding-top:5px;
 }
.alignRight {
    float: right;
}


@media only screen and (min-width: 720px) {
    .row {

    }
}



        /*overrides Bootstrap     
        padding-right: 15px;
    padding-left: 15px;*/



.media {
    margin-top: 0px; /*Bootstrap override*/
}

.noPadding {
    padding: 0px; /*Bootstrap override*/

}

.noMarginTop{
    margin-top:0px;
}
.imagePadding{
    padding: 1px;
}

.marginTop30px{
    margin-top:30px;
}

p{
    margin:10px 0px 10px 0px; /*Bootstrap override of margin: 0 0 10px; */
}

.noMargin{
    margin:0px;
}

.thumbnail {
    border-radius: 0px;
}


.centerText{
     text-align: center;
}

.rightText{
     text-align: right;
}

/* -------------------   TOP NAVBAR  ------------------- */
/*Background-colors:
    Top Navbar: #f8f8f8 (97% white)
    Article boxes :#f8f8f8
    #allContentUnderNavBar: #f0f0f0 (94% white)
*/
#customNav{
    background-color:#f8f8f8;
      padding-bottom:10px;
}

@media only screen and (min-width: 720px){
    #customNav{
 

    }
}
#logo{
    margin-top:10px;
          padding:10px;
 
}
#companyLogo {
   /* width:75%; this isn't good as it was too small on smaller screens.  */
        margin: auto;
        width:100%;
}

@media only screen and (min-width: 400px) and (max-width: 767px) {
    #companyLogo {
             width:70%;
    }
}

@media only screen and (min-width: 992px)  {
    #companyLogo {
             width:80%;
    }
}

@media only screen and (min-width: 992px) and (min-resolution: 1dppx) {
    #companyLogo {
        margin-left: 0px; /*to override the margin-auto default CSS rule (margin-auto, above), which centers the logo. We want the logo to the left on desktops/ laptop screens*/
    }
}

@media only screen and (max-width:480px) {

    .contactText {
        display: none;
    }
}


#customNav {

}


#companyDiv {
    display: inline-block;
    font-family: 'century-gothic', 'Muli','Franklin Gothic Medium', 'Roboto Condensed', Gadugi, 'Gill Sans MT', Geneva, Tahoma, sans-serif;
}

#companyText {

}

#companyName {
    font-size: 2.5em;
    color: darkred;
}


#dotcom {
    font-size: 1.7em;
    color: white;
}

#pageHeadingDiv {
    display: inline-block;
}
/*
#pageHeadingText { Just vertical centering
    margin: 0;
    color: #6685A3;
    margin-left: 5px;
    font-size: 1.7em;
    font-weight: 600;
    font-family: 'century-gothic', 'Muli','Franklin Gothic Medium', 'Roboto Condensed', Gadugi, 'Gill Sans MT', Geneva, Tahoma, sans-serif;
}*/


@media only screen and (max-width:480px) {

    .contactText {
        display: none;
    }



    #logo {
    }

    #pageHeadingText {
        color: white;
    }

    .thumbnailDescription {
        display: none;
    }

    .websitePreview {
        /* display: none; /*Develop a better solution for this, like turing off ng-include or setting the ng-include page as a variable that isn't set on smaller screens*/
    }
}

@media screen and (max-width: 480px) and (min-resolution: 1.5dppx) { /*such as a Huawei G7 with a DPR of 720 wide*/
}

.thumbnailDescription {
    display: none;
}

/* -------------------   /NAVBAR  ------------------servicesSubHeading- */


/* -------------------   WELCOME AND IMAGE BOX------------------- */

.welcome {
    margin-bottom: 5px;
}

.item {
    width: 100%;
}

#welcomeHeading {
    color: #22356b;
    font-family: 'Century Gothic', Helvetica, sans-serif, Calibri, 'Franklin Gothic', 'Segoe UI',Frutiger,Tahoma,Helvetica,Sans-Serif;
    font-size: 1.5em;
    line-height: 5px;
}

#photoDescription {
    color: white;
    margin-top: -22px;
    padding-left: 5px;
}



.imageWithCenteredText {
    /*Vertical Bit*/
    position: relative;
}



.darkImageOverlayT {
    /*   background: -webkit-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/shoes.jpg); /* For Safari 5.1 to 6.0 */
    /*  background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/shoes.jpg);/* For Opera 11.1 to 12.0 */
    /*  background: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/shoes.jpg); /* For Firefox 3.6 to 15 */
    /*  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/shoes.jpg); /* Standard syntax */
    background-color: black;
}

.imageLayerOne {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

    .imageLayerOne img {
        display: block;
    }

    .imageLayerOne .img-wrap {
        background-color: black;
    }

    .imageLayerOne img {
        opacity: 0.4;
    }

@media only screen and (min-width: 961px) {
    body {
        -webkit-zoom: 130%;
    }
}

@media only screen and (max-width: 320px) { /* Hide photo captions on extra small screens*/
    .carousel-caption {
        display: none;
    }
}
/*The below code creates an intrinic div, with centered content
#showGallerySlide {
    position: relative;
    padding-bottom: 60%;
    height: 0;
    background: #E9EAEA;
}

#showGallerySlideInner {
    position: absolute;
    top: 35%; /*For the text and icon to go in the vetical center
    left: 0;
    width: 100%;
    height: 100%;
}

#showGallerySlideInnerContent {
    position: relative;
    height: 0;
    color: #CC0000;
    text-align: center;
}
CHECK IF I SHOULD I USE BELOW?
#showGallerySlideInner {
    position: absolute;
    transform: translateY(-60%);
    padding: 15px;
    color: #22356b;
}*/

/* ------------------- /END OF WELCOME AND IMAGE BOX------------------- */



#areasCovered {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}


/* -------------------  /CUSTOM MEDIA BOXES ------------------- */

.media-object{

}
/* -------------------   CONTACT FIELDS ------------------- */


.topRowContactField {
}

.contactField{
        padding-top: 8px;
            padding-left: 4px;
        padding-right: 4px;

}

    .contactField .media {
        /* margin-top: 5px;*/
      border: 1px solid #D9E0E8; 
          background-color:#f8f8f8;
    }

    .contactField .media-object {
       
        line-height: 50px;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }


    .contactField .icon_sosa {
        /*color: #337ab7; Default bootstrap link colour*/
         /* color: #3b5998; blue */
         color: darkred;
        font-size: 2.5em;
      
    }

        .contactField .icon_sosa a:hover {
            color: blue;
        }

    .contactField .media-body {
        line-height: 50px;
        height: 50px;
    }

.clock {
}
/*
@media screen and (min0width: 768) and (max-width: 991px){ 
    #contactLinkAddressBox{
        display:none;
    }
}*/
.openingHours {
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 20px;
}

.dummySpan {
    color: #F2F2F3;
}

/* -------------------   /CONTACT FIELDS ------------------- */


/* -------------------   Center Nav Links  ------------------- */



.customRow { /* this is in the images where the padding (15px) has been taken away from the cols, which 
                 means they don't need the stanard bootstrap row of 
             */
    margin-left:-1px;
    margin-right:-1px;
}

    .navLinkBoxes .media {
        background-color: darkred;
        display: inline-block;
        margin: 0px;
        color: #E9EAEA;
        border-left: 1px solid #E9EAEA;
        border-right: 1px solid #E9EAEA;
    }
    /*any navBar box that is on the left hand side (depending on the viewport width) will have a border of 2 + the padding-left from the 'centerNavBar' (above) of 13 to = 15pt padding*/


.navLinkBoxes .media:link,
.navLinkBoxes .media:visited,
.navLinkBoxes .media:hover,
.navLinkBoxes .media:active {
    background-color: #CC0000;
}

.navLinkBoxes .media-object {
   line-height: 50px;
    text-align: center;

}
.navLinkBoxes .media-body{
 line-height: 50px;
        height: 50px;
        font-family: RobotoCondensed-Regular, 'Century Gothic', 'Core Sans N 25', 'Franklin Gothic', 'Segoe UI',Frutiger,Tahoma,Helvetica,Sans-Serif;
    font-size: 1.2em;
        }

@media only screen and (min-width: 768px) {
.navLinkBoxes .media-body{
        font-size: 1.5em;
    }
}
.navLinkBoxes .icon_sosa {
    /*color: #337ab7; Default bootstrap link colour*/
   /* font-size: 2.5em; */
    display:none; /*Remove this once new vectors are added*/
}

    .navLinkBoxes .icon_sosa:hover {
    }

/* -------------------   /Center Nav Links  ------------------- */


#allContentUnderNavBar {
 background-color:#f0f0f0;


}

.pageIntro{
    padding-top:15px;
    padding-bottom:15px;
}
/* -------------------   SERVICES ------------------- */


.services {
    border-left: 1px solid #D9E0E8;
    border-right: 1px solid #D9E0E8;
    border-bottom: 1px solid #D9E0E8;
    background-color: white;
    margin-bottom: 10px;
    /* background-color:#D9E0E8; similar to above, but darker */
    padding: 15px;
}

.customCollaspeSection {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.servicesHeading {
    font-family: 'Century Gothic', Helvetica, sans-serif, Calibri, 'Franklin Gothic', 'Segoe UI',Frutiger,Tahoma,Helvetica,Sans-Serif;
    background-color: #CC0000;
    padding: 2px;
    font-size: 1.8em;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}

#welcomeSection {
  
    font-size: 1.2em;
    padding: 15px;
    font-family: Calibri, Helvetica, sans-serif, Calibri, 'Franklin Gothic', 'Segoe UI',Frutiger,Tahoma,Helvetica,Sans-Serif;
    text-align: center;
    margin-top:5%;

       

}
#welcomePageImage{

}

.services .media-heading {
    padding-top: 20px;
}


#generalServicesDescription {
    color: #0066FF;
}

.media-left .services {
    width: 60%;
}

.services .media {
    border: 2px solid #D9E0E8;
    margin-top: 10px;
    padding-right: 10px;
}

.services .media-object {
    /*light blue: background-color: #e3eff8; */
    background-color: white;
    width: 100px;
    text-align: center;
}

.services .fa {
    color: #CC0000;
    line-height: 100px;
}

.services .media-body {
    padding-bottom: 10px;
}

.media-paragraphs {
    padding-left: 15px;
    padding-right: 15px;
}

.quote {
    font-style: italic;
}

aside {
    padding-left: 15px;
}

.services .glyphicon {
    top: 4px; /* override of bootstrap's default of 1px */
    padding-left: 5px;
    padding-right: 10px;
    font-size: 1.2em;
}

.showHideTextAndArrow {
    float: right;
    color: #CC0000;
}

    .showHideTextAndArrow:hover {
        color: #0066FF;
    }

    .showHideTextAndArrow:active {
        color: #193EAC;
    }

    .showHideTextAndArrow:visited {
        color: #CC0000;
    }

/* -------------------   /SERVICES ------------------- */

/* -------------------   FACEBOOK ------------------- */
#fb-root {
    background-color: #E9EAEA;
}

#facebookHeading {
    background-color: #E9EAEA;
    padding-left: 5px;
    border: 1px solid #D9E0E8;
}

#faceBookColumn {
    margin-top: 10px;
}
/* -------------------   /FACEBOOK ------------------- */

/* -------------------   SHARE LINKS ------------------- */
#shareLinks {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

    #shareLinks .media {
        margin-bottom: 5px;
    }

@media only screen and (max-width: 767px) {
    #shareLinks .media-body {
        width: 60%;
    }
}


#shareOnTwitter {
    padding-left: 5px;
    padding-right: 5px;
}

#shareOnGooglePlus {
    padding-left: 5px;
    padding-right: 5px;
}

.tweet {
    color: #55acee;
}

.google_plus {
    font-size: 1.9em;
    color: white;
    background-color: #dd4b39;
    border-radius: 2px;
    padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    margin-right: 5px;
}

/* -------------------   /SHARE LINKS ------------------- */

footer {
    border-top: 1px solid #D9E0E8;
    margin-top: 10px;
    padding-top: 10px;

}

#footerRow2{
        text-align: center;
}

/* ############### GALLERY.HTML Page ############### */


.wrap {
    overflow: hidden;
    margin: 10px;
}

    .wrap .row {
        margin-left: 0px;
        margin-right: 0px;
    }

.box {
    float: left;
    position: relative;
    width: 20%;
    padding-bottom: 20%;
}



.boxInner {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
}

    .boxInner img {
        width: 100%;
    }
/*
@media only screen and (min-width : 481px) {
    .boxInner .titleBox {
        position: absolute;
        bottom: 4px;
        left: 4px;
        right: 4px;
        margin-bottom: -50px;
        background: #000;
        background: rgba(0, 0, 0, 0.5);
        color: #FFF;
        padding: 10px;
        text-align: center;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }*/

body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
    margin-bottom: 0;
}



@media only screen and (max-width : 480px) and (min-width : 321px) {
    /* Smartphone view: 1 tile */
    .box {
        width: 50%;
        padding-bottom: 50%;
    }
}

@media only screen and (max-width : 650px) and (min-width : 481px) {
    /* Tablet view: 2 tiles */
    .box {
        width: 50%;
        padding-bottom: 50%;
    }
}

@media only screen and (max-width : 1050px) and (min-width : 651px) {
    /* Small desktop / ipad view: 3 tiles */
    .box {
        /* width: 33.3%;
            padding-bottom: 33.3%;*/
        width: 25%;
        padding-bottom: 25%;
    }
}
/*
        @media only screen and (max-width : 1290px) and (min-width : 1051px) {
          /* Medium desktop: 4 tiles
          .box {
            width: 25%;
            padding-bottom: 25%;
          }
        }*/


/*
.percentageBorder{
    width:90%;
    border-bottom: 1px solid #3b5998;
    border-bottom-width:thin;
}*/

.projectTypeHeadingDiv {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #CC0000;
    padding-left: 10px;
    border-top: 1px solid #CC0000;
    padding-top: 15px;
}

    .projectTypeHeadingDiv .fa-home {
        padding-left: 15px; /*extra padding because the home icon's roof sticks out more than the apartment icon */
    }

    .projectTypeHeadingDiv .media-object {
        padding-right: 10px; /*extra padding because of bug with Android Browser */
    }

.projectTypeHeadingText {
}

#residentialSection {
    margin-top: 15px;
}

.projectThumbnail {
}

.projectHeadingBoxInner {
    background-color: white;
    font-family: RobotoCondensed-Regular;
    font-size: 1.6em;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.boxInnerText {
    position: absolute;
    top: 40%;
    transform: translateY(-60%);
    padding: 15px;
    color: #22356b;
}

@font-face {
    font-family: 'Florsn01';
    src: url('../fonts/Florsn01.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
}


.glyphicon-triangle-right {
    font-size: 0.8em;
}

.thumbnail {
    padding: 2px; /*BS Override (of 4px) */
}

#commercialSection {
    border-top: 1px solid #CC0000;
    padding-top: 10px;
}




@media only screen and (max-width : 320px) {
    /* Smartphone view: 1 tile */
    .box {
        width: 100%;
        padding-bottom: 100%;
    }

    .projectHeadingBox {
        padding-bottom: 20%;
    }


    .boxInnerText {
        position: absolute;
        top: -20%;
        transform: translateY(0%);
        padding-bottom: 5px;
    }

    .glyphicon-triangle-right {
        display: none;
    }
}


.noIdent{
    margin:0px;
    padding-left:15px;
}

#mapImage{
    margin-top:3%;
}

#info-section-anchor{
    margin-top:5%;
}

#mountLeinsterMap{
    margin-top:15px;
}

#mossHouseMap{
     margin-top:15px;
}
/*
@media only screen and (max-width:480px) {

    .hideOnSmallScreens {
        display: none;
    }
}
    */
#partialsDiv{ /*includes index.html*/


}

.navPartialSection{ /*doesn't include index.html*/

margin-bottom: 25px;
}

.carousel.fade {
    opacity: 1;
}

.carousel.fade .item{
transition: opacity ease-out .7s;
left: 0;
opacity: 0;
top: 0;
position: absolute; /*will put carousels on top of each other */
width: 100%;
display: block;
}

.carousel.fade .item:first-child{
top:auto;
position: relative;
}

.carousel.fade .item.active{
opacity:1;
}

.carousel-control.right, .carousel-control.left {
  background-image:none;
}

#barImages{

        margin-bottom:-20px;/*Overrides the article padding*/
}

#bunclodyDotNet{
     font-size: 1.4em;
}

#footerMessage{
    margin-bottom:10px;
}

#TA_cdsratingsonlynarrow968 {
    margin: auto;
    width: 120px;
}

article{
    margin-bottom:15px;
    padding:20px;
    background-color:#f8f8f8;
}

.border{
          border-top: 1px solid #D9E0E8; 
         margin-bottom: 20px;
         padding:10px;
}

#index-page-carousel{
    padding-left:10px;
        padding-top:5px;
}