
<!--Another header is added to add new a new title tag and description for SEO-->
<head>
    <meta name="Description" content="Ryan's pub, the Moss House, offering quality accomodation in Bunclody at affordable prices.">
    <title>The Moss House 2</title>
    </head>
<body>

    <h1>Attractions</h1>

    A traditional, picturesque, tranquil yet vibrant town, Bunclody lays on the scenic border of counties Carlow and Wexford. Bunclody truly has something for everyone – from hiking, hang gliding, fishing, golfing, a wide variety of restaurants, and much more. Pubs / bars are plentiful and you’ll hardly find a warmer welcome. Please follow the links below for more information.
</body>



    