<head>
    <meta name="Description" content="Ryan's pub, the Moss House, offering quality accomodation in Bunclody at affordable prices.">
    <title>Accommodation in Bunclody Town Centre, Wexford. Affordable Deals on Hotel Standard Accommodation. Self-catering facilities. Beside Golf & Fishing Club. </title>
    <meta name="Description" content="Moss House Bar and Music.">
    <meta name="keywords" content=" Accommodation Bunclody, Wexford, golf, fishing, hotel, inn, guest house, lodge, self-catering, self catering, lodging, bed and breakfast ">
    <!--GeoTags-->
    <meta name="geo.region" content="IE" />
    <meta name="geo.placename" content="Bunclody" />
    <meta name="geo.position" content="52.655086;-6.652193" />
    <meta name="ICBM" content="52.655086, -6.652193" />
</head>
<body>

    <div class="navPartialSection">

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-9 col-lg-7 noPadding">
                <h1>Bar &amp; Music</h1>
                <p>We are happy to cater for your event, such as communions, confimrations, birthday parties and more.</p>
                <p> Join us for live music every Sunday from 8.30pm to 10.30pm.</p>

            </div>
        </div>

        <div class="partialIntro row">
          
        </div>

        <div id="barImages">


            <div class="customRow">

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 imagePadding">
                    <img src="../../images/bar/Bar-face-on-1080px-wide.jpg" />
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 imagePadding">
                    <img src="../../images/bar/bar-taps-1024px-wide.jpg" />
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 imagePadding">
                    <img srcset="
        ../../images/bar/bar-carrigatures-1040px-wide.jpg  1040w,
        ../../images/bar/bar-carrigatures-480px-wide.jpg  480w"
                         src="  ../../images/bar/bar-carrigatures-1040px-wide.jpg"
                         alt="Main bar, showing a wall of charriagature drawings.">
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 imagePadding">
                    <img src="../../images/bar/bar-seats-1080px-wide.jpg" />
                </div>
              
               

            </div><!--/row-->
        </div>
    </div>
</body>


