<head>
    <meta name="Description" content="Ryan's pub, the Moss House, offering quality accomodation in Bunclody at affordable prices.">
    <title>The Moss House</title>
</head>
<body>

    <div class="navPartialSection">

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-9 col-lg-7 noPadding">
                <h1>Bar &amp; Music</h1>
                <p>We are happy to cater for your event, such as communions, confimrations, birthday parties and more.</p>
                <p>  Join us for live music every Sunday from 8.30pm to 10.30pm.</p>

            </div>
        </div>

        <div class="partialIntro row">
          
        </div>

        <div id="barImages">


            <div class="customRow">

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 imagePadding">
                    <img src="../../images/bar/Bar-face-on-1080px-wide.jpg" />
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 imagePadding">
                    <img src="../../images/bar/bar-taps-1024px-wide.jpg" />
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 imagePadding">
                    <img srcset="
        ../../images/bar/bar-carrigatures-1040px-wide.jpg  1040w,
        ../../images/bar/bar-carrigatures-480px-wide.jpg  480w"
                         src="  ../../images/bar/bar-carrigatures-1040px-wide.jpg"
                         alt="Main bar, showing a wall of charriagature drawings.">
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 imagePadding">
                    <img src="../../images/bar/bar-seats-1080px-wide.jpg" />
                </div>
              
               

            </div><!--/row-->
        </div>
    </div>
</body>


