<!--Another header is added to add new a new title tag and description for SEO-->
<head>
    <meta name="Description" content="Ryan's pub, the Moss House, offering quality accomodation in Bunclody at affordable prices.">
    <title>Accommodation in Bunclody Town Centre, Wexford. Affordable Deals on Hotel Standard Accommodation. Self-catering facilities. Beside Golf & Fishing Club. </title>
    <meta name="Description" content="Location of the Moss House.">
    <meta name="keywords" content=" Accommodation Bunclody, Wexford, golf, fishing, hotel, inn, guest house, lodge, self-catering, self catering, lodging, bed and breakfast ">
    <!--GeoTags-->
    <meta name="geo.region" content="IE" />
    <meta name="geo.placename" content="Bunclody" />
    <meta name="geo.position" content="52.655086;-6.652193" />
    <meta name="ICBM" content="52.655086, -6.652193" />

</head>
<body>
    <div class="navPartialSection">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-9 col-lg-7 noPadding">
                <h1>Moss House Location</h1>
                <p>The Moss House is situated in the heart of Bunclody, just 180 meters from the Main Street, and adjacent to Bunclody Golf and Fishing Club. It's approximately 1 hour and 15 minutes from the South side of Dublin City and an hour from Rosslare ferry port.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 noPadding">
                <h3>Address:</h3>
                N80, Carrigduff, Bunclody, Co. Wexford
            </div>

            <div class="col-sm-1 col-md-1 col-lg-1 noPadding">
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 noPadding">
                <h3>GPS co-ordinates:</h3>
                52.656199, -6.657660
            </div>



            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 noPadding">
                <h3>Directions from Dublin:</h3>
                <ol class="noIdent">
                    <li>From Dublin take the N7 (Naas Road). At Junction 9, continue forward onto the M7 motorway (signposted Limerick)</li>
                    <li>Leave the M7 at Junction 11, then join the M9 (Signposted Waterford)</li>
                    <li>Leave the M9 at Junction 5, then at the roundabout take the 1st exit onto the N80 (Signposted Rosslare)</li>
                    <li>Continue forward on the N80 entering Ballon.</li>
                    <li>Continue forward for on the N80 for approximately 12 Kilometers and enter Bunclody.</li>
                    <li>Rosslare to Bunclody:</li>
                </ol>
            </div>

            <div class="col-sm-1 col-md-1 col-lg-1 noPadding">
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 noPadding">
                <h3>From Rosslare Ferry Port</h3>
                <ol class="noIdent">
                    <li>From Rosslare Ferry Port take the N25, entering Tagoat.</li>
                    <li>At Rosslare roundabout take the 1st exit onto the N25 (signposted Cork) onto Wexford Bypass.</li>
                    <li>At Duncannon road roundabout take the 2nd exit onto the N25 (signposted Cork)</li>
                    <li>AT New Ross road take the 2nd exit onto the N11 (Signposted Dublin) .</li>
                    <li>Continue forward on the N11 entering Oilgate and then Enniscorthy.</li>
                    <li>Bear left in Enniscorthy (one way system) signposted all routes.</li>
                    <li>Bear left onto the N11 (Signposted Dublin, Carlow N80)</li>
                    <li>AT roundabout take the 2nd exit onto the Dublin Road &ndash; N11 (Signposted Dublin, Carlow N80)</li>
                    <li>Continue for approximately 14 kilometers and enter Bunclody</li>
                </ol>
            </div>
        </div>

        <div class="row" id="mossHouseMap">
            <div id="mountLeinsterMap" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadding">
                <a href="https://www.google.ie/maps/@52.6561167,-6.6575645,3a,75y,6.45h,85.72t/data=!3m6!1e1!3m4!1smUvQrwmQ-baGF92ZuASoBg!2e0!7i13312!8i6656" target="_blank">
                    <img src="../../images/location/moss-House-Google-Map.jpg" />
                    <!--<iframe src="https://www.google.com/maps/embed?pb=!1m32!1m12!1m3!1d77480.17334195427!2d-6.796292062567698!3d52.637298329168466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m17!3e0!4m3!3m2!1d52.6562409!2d-6.6586532!4m5!1s0x485d57393633ac55%3A0xc1cc45083e00e24a!2sKilbrannish+Recreational+Forest%2C+Hollybrook%2C+Carlow!3m2!1d52.656460599999996!2d-6.754562699999999!4m5!1s0x485d5138245bda9f%3A0xc0623a487e916c38!2sMount+Leinster!3m2!1d52.6178434!2d-6.779698799999999!5e0!3m2!1sen!2sie!4v1484102046668" width="800" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>-->
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-9 col-lg-8 noPadding" target="_blank">
                <p>
                    <a href="https://www.google.ie/maps/@52.6561167,-6.6575645,3a,75y,6.45h,85.72t/data=!3m6!1e1!3m4!1smUvQrwmQ-baGF92ZuASoBg!2e0!7i13312!8i6656" target="_blank">
                        Click here to to open Directions to The Moss House in Google maps.
                    </a>
                </p>
            </div>
        </div>
    </div>

    </body>

