<h1>Location</h1>
<p>The Moss House is situated in the heart of Bunclody, just 180 meters from the Main Street, and adjacent to Bunclody Golf and Fishing Club. It's approximately 1 hour and 15 minutes from the South side of Dublin City and an hour from Rosslare ferry port.</p>

<h3>Address:</h3>
N80, Carrigduff, Bunclody, Co. Wexford

<h3>GPS co-ordinates:</h3>
52.656199, -6.657660

<h3>Directions from Dublin:</h3>
<ol>
    <li>From Dublin take the N7 (Naas Road). At Junction 9, continue forward onto the M7 motorway (signposted Limerick)</li>
    <li>Leave the M7 at Junction 11, then join the M9 (Signposted Waterford)</li>
    <li>Leave the M9 at Junction 5, then at the roundabout take the 1st exit onto the N80 (Signposted Rosslare)</li>
    <li>Continue forward on the N80 entering Ballon.</li>
    <li>Continue forward for on the N80 for approximately 12 Kilometers and enter Bunclody.</li>
    <li>Rosslare to Bunclody:</li>
</ol>

<h3>From Rosslare Ferry Port</h3>
<ol>
    <li>From Rosslare Ferry Port take the N25, entering Tagoat.</li>
    <li>At Rosslare roundabout take the 1st exit onto the N25 (signposted Cork) onto Wexford Bypass.</li>
    <li>At Duncannon road roundabout take the 2nd exit onto the N25 (signposted Cork)</li>
    <li>AT New Ross road take the 2nd exit onto the N11 (Signposted Dublin) .</li>
    <li>Continue forward on the N11 entering Oilgate and then Enniscorthy.</li>
    <li>Bear left in Enniscorthy (one way system) signposted all routes.</li>
    <li>Bear left onto the N11 (Signposted Dublin, Carlow N80)</li>
    <li>AT roundabout take the 2nd exit onto the Dublin Road &ndash; N11 (Signposted Dublin, Carlow N80)</li>
    <li>Continue for approximately 14 kilometers and enter Bunclody</li>
</ol>
