<!--Another header is added to add new a new title tag and description for SEO-->
<head>
    <meta name="Description" content="Ryan's pub, the Moss House, offering quality accomodation in Bunclody at affordable prices.">
    <title>Accomodation in Bunclody Town Centre, Wexford. Beside Golf & Fishing Club</title>
    <meta name="Description" content="Location of the Moss House.">
    <meta name="keywords" content=" Accommodation Bunclody, Wexford, golf, fishing, hotel, inn, guest house, lodge, self-catering, self catering, lodging, bed and breakfast ">
</head>
<body>

    </body>

