<h1>Rooms &amp; Facilities</h1>

<h2>Rooms</h2>
<p>
    There are six bedrooms, ranging from standard twin rooms to larger rooms with two double beds. Five bedrooms are en-suite. The sixth bedroom has a private bathroom, just a few steps outside the room.
</p>

<h2>Facilities</h2>
<p>
    Facilities include a fully fitted kitchen, complete with oven, microwave, fridge. The kitchen’s dining area can comfortably seat up to six people. Breakfast cereals are included. 
</p>

<h2>Parking</h2>
<p>
    Spacious private parking on premises.
</p>
