<head>
    <meta name="Description" content="Ensuite bedrooms, self-catering facilities, located in the town centre, close to Bunclody Golf and Fishing Club. Great value accommodation at affordable prices.">
    <title>Accommodation in Bunclody Town Centre, Wexford. Affordable Deals on Hotel Standard Accommodation. Self-catering facilities. Beside Golf & Fishing Club. </title>
    <meta name="keywords" content=" Accommodation Bunclody, Wexford, golf, fishing, hotel, inn, guest house, lodge, self-catering, self catering, lodging, bed and breakfast, b&b, least minute, cheap, discount, hostel, bed and breakfast, house, wotif, affordable ">

    <!--GeoTags-->
    <meta name="geo.region" content="IE" />
    <meta name="geo.placename" content="Bunclody" />
    <meta name="geo.position" content="52.655086;-6.652193" />
    <meta name="ICBM" content="52.655086, -6.652193" />

</head>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 noPadding" id="welcomePageImage">
        <img src="images/buildingFront.jpg" />
        <!-- <div class="darkTextBox">
             <div class="carousel-caption">
                 Working on Cardy Rock apartments, Balbriggan.
             </div>
         </div>-->
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 noPadding">
        <div id="welcomeSection">
            <span id="welcomeHeading">Welcome</span> and thanks for visiting The&nbsp;Moss&nbsp;House. Offering quality hotel standard accommodation, right in the center of Bunclody. Here you will find warm, friendly owners, eager to make sure you enjoy your stay right in the heart of the picturesque town of Bunclody.
        </div>

        <!--Trip Advisor Widget-->
        <div id="TA_cdsratingsonlynarrow968" class="TA_cdsratingsonlynarrow">
            <ul id="mIO5ZIwea9G" class="TA_links wrVHcn6CN">
                <li id="TirZiPil" class="d1186UGPRUg">
                    <a target="_blank" href="https://www.tripadvisor.ie/"><img src="https://www.tripadvisor.ie/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png" alt="TripAdvisor" /></a>
                </li>
            </ul>
        </div>



    </div>



</div>
