<div class="row">
    <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
        <div id="welcomeSection">
            <span id="welcomeHeading">Welcome</span> and thanks for visiting The&nbsp;Moss&nbsp;House. Here you will find warm, friendly owners, eager to make sure you enjoy your stay right in the heart of the picturesque town of Bunclody.
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8" id="welcomePageImage">
        <img src="images/buildingFront.jpg" />
       <!-- <div class="darkTextBox">
            <div class="carousel-caption">
                Working on Cardy Rock apartments, Balbriggan.
            </div>
        </div>-->
    </div>
    <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1">
    </div>
</div>